.header {
    display: flex;
    justify-content: center;

    background-color: var(--shape);
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    z-index: 2;

    border-bottom: solid 1px var(--border-color);
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 58.5rem;
    align-items: center;
    margin: 0 1.25rem;
}

.logomarcas {
    display: flex;
}

.logomarcas ion-icon {
    font-size: 1.5rem;
}


.spacer {
    background-color: var(--text-title);
    width: 1px;
    height: 1.5rem;
    margin: 0 10px;
    opacity: 0.6;
}

.search {
    height: 1.2rem;
    width: 13.5rem;
    background-color: var(--background);
    font-size: 0.75rem;


    text-align: center;
    padding: 1rem 0;

    border: 1.5px solid rgba(75, 75, 75, 0.5);
    border-radius: 6px;
}

.menu {
    font-size: 1.3rem;
}

.icons_header + .icons_header {
    margin-left: 10px;
}


/*=====ESTILO D0 HEADER NO MOBILE ======*/
/*=====ESTILO D0 HEADER NO MOBILE ======*/
/*=====ESTILO D0 HEADER NO MOBILE ======*/
/*=====ESTILO D0 HEADER NO MOBILE ======*/

.container_header_mobile {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.container_header_mobile ion-icon {
    font-size: 22px;
}


 @media (max-width: 38.5rem) {
    .container_header {
        display: none;
    }
} 

@media (min-width: 38.5rem) {
    .container_header_mobile {
        display: none;
    }
    
}

