/*=====ESTILO DOS POSTS ======*/
/*=====ESTILO DOS POSTS ======*/
/*=====ESTILO DOS POSTS ======*/
/*=====ESTILO DOS POSTS ======*/


.posts {
    display: flex;
    flex-direction: column;
    width: 38rem;

    margin-top: 1.5rem;
}

.card_post {
    margin-bottom: 3.75rem;
    border-radius: 4px;

    border: solid 1px var(--border-color);

    background-color: tomato;
}